$content-width: 1000px;
$breakpoint: 999px;
$nav-height: 70px;

$primary-color: #330301;
$secondary-color: #E7A731;
$third-color: #6A0200;

$primary-font-color: #E7A731;
$secondary-font-color: #dbdbdb;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$footer-background-color: $black;

#nav-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  a{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 0.8rem;
    padding: 8px;
    color: $secondary-font-color;
  }
}
.dropbtn{
  display: block;
  outline: none;
  display: block;
  border: none;
  padding: 0 20px;
  line-height: 70px;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  min-width: 130px;
  color: $primary-font-color;
  background-color: transparent;
}
.dropbtn:hover{
  color: $white;
  text-shadow: 0 0 20px $white;
}

.navigation {
  height: $nav-height;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 0 10px black;
  border-top: 1px solid $primary-font-color;
  border-bottom: 1px solid $primary-font-color;
}

.brand {
  position: absolute;
  float: left;
  a, a:visited {
    text-decoration: none;
  }
  #logo{
    width: 68px;
    position: absolute;
    top: 0px;
    left: 20px;
  }
}
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      button{
        outline: none;
        border:none
      }
      button:focus{
        outline: none;
      }
      a, button,
      a:visited{
        display: block;
        text-decoration: none;
        position: relative;
        text-align: center;
        transition: 0.5s;
        font-size: 0.9rem;
        font-weight: bold;
        width: 100%;
        &:not(:only-child):after {
          padding-left: 4px;
        }
      } 
    }
  }
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 999px) {
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a,  a:visited {
          line-height: 20px;
          text-align: left;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 7px;
  top: 22px;
  cursor: pointer;
  color: $primary-font-color;
  text-shadow: 0 0 30px $white;
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

#logo{
  width: 200px;
  position: relative;
  bottom:65px;
}
